 .main{
    height: 60vh;
}
.btn-book{
    background-color: #BEFC9D;
    width: 100px;
    height: 50px;
    margin-bottom: 1%;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-book:hover,.btn-book:active{
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 770px){
    .btn-book{
        width: 100%;
    }
}
